localhost:80 {    

    reverse_proxy iliws:8080

    log stdout
}

ili.sogeo.services {    
    tls stefan.ziegler.de@gmail.com 
    #tls stefan.ziegler.de@gmail.com {
    #    ca https://acme-staging-v02.api.letsencrypt.org/directory
    #}

    log {
        output stdout
        format console
    }

    # Handle ili2c compile API requests
    handle /api/compile {
        reverse_proxy iliws:8080 {
            # Rewrite to the ili2c context path
            rewrite * /ili2c/api/compile
        }
    }
    
    # Handle iliprettyprint API requests
    handle /api/prettyprint {
        reverse_proxy iliws:8080 {
            # Rewrite to the iliprettyprint context path
            rewrite * /iliprettyprint/api/prettyprint
        }
    }
}