localhost:80 {    

    reverse_proxy iliws:8080

    log stdout
}

ili.sogeo.services {    
    tls stefan.ziegler.de@gmail.com 
    #tls stefan.ziegler.de@gmail.com {
    #    ca https://acme-staging-v02.api.letsencrypt.org/directory
    #}

    log {
        output stdout
        format console
    }

    handle_path /ili2c/* {
        rewrite * /ili2c/{path}
        reverse_proxy iliws:8080
    }

    handle_path /prettyprint/* {
        rewrite * /iliprettyprint{path}
        reverse_proxy iliws:8080
    }
}