localhost:80 {    

    reverse_proxy iliws:8080

    log stdout
}

ili.sogeo.services {    
    tls stefan.ziegler.de@gmail.com 
    #tls stefan.ziegler.de@gmail.com {
    #    ca https://acme-staging-v02.api.letsencrypt.org/directory
    #}

    log {
        output stdout
        format console
    }

    @compile path /api/compile*
    rewrite @compile /ili2c{uri}
    reverse_proxy @compile iliws:8080

    @prettyprint path /api/prettyprint*
    rewrite @prettyprint /iliprettyprint{uri}
    reverse_proxy @prettyprint iliws:8080

    @uml path /api/uml*
    rewrite @uml /iliprettyprint{uri}
}